body {
    padding: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.texto {
    background-color: antiquewhite;
}

.escenario {
    margin: 10px 0px;
    border: 1px solid #ccc;
    padding: 10px;
}

.escenario1 {
    width: 100%;
}

.escenario2 {
    width: 50%;
}

.px {
    background-color: green;
    width: 200px;
}

.percent {
    background-color: red;
    width: 50%;
}

.view {
    background-color: yellow;
    width: 50vw;
}